### Healthcare Bluebook EDA #1

#### Initial notebook to expore data prior to presentation by Healthcare Bluebook.

#### Not needed for work within Team Phoenix. To load in files for teamwork a new notebook was created, named:  read_data_create_pickle

#### Reference List and File Links

1. Physician & Other Supplier Payments    
DF NAME: hcpcs_pay_99213_df   
https://www.cms.gov/Research-Statistics-Data-and-Systems/Statistics-Trends-and-Reports/Medicare-Provider-Charge-Data/Physician-and-Other-Supplier2017   
Downloaded in class_notebook pickles_and_chunks   
Only saved the resulting pickle file to data in HCBB repo  


2. Detailed Data Hospital Outpatient    
DF NAME: hosp_outpatient_df   
https://www.cms.gov/Research-Statistics-Data-and-Systems/Statistics-Trends-and-Reports/Medicare-Provider-Charge-Data/Outpatient    


3. Detailed Data APC to CPT/HCPCS crosswalk, Addendum B – January 2020 (correction files aren't necessary)    
DF NAME: apc_to_cpt_crosswalk_df   
https://www.cms.gov/Medicare/Medicare-Fee-for-Service-Payment/HospitalOutpatientPPS/Addendum-A-and-Addendum-B-Updates


4. Zip Code to CBSA    
DF NAME: zip_to_cbsa_032020_df   
https://www.huduser.gov/portal/datasets/usps_crosswalk.html


5. Other https://Data.CMS.gov

In [1]:
import pandas as pd
import pickle
import pprint    #Pretty Print.  To use, pprint.pprint()
import numpy as np

In [2]:
#To read in all four dfs
# GO BACK AND GET FULL 2015, 2016, 2017 DATA

hcpcs_pay_99213_df = pd.read_pickle('../data/hcpcs_pay_99213.pkl')
hosp_outpatient_df = pd.read_pickle('../data/hosp_outpatient.pkl')
apc_to_cpt_crosswalk_df = pd.read_pickle('../data/apc_to_cpt_crosswalk.pkl')
zip_to_cbsa_032020_df = pd.read_pickle('../data/zip_to_cbsa_032020.pkl')

### 1. Physician & Other Supplier Payments  

OBSERVATIONS:   
Amounts have more than two decimals

In [3]:
hcpcs_pay_99213_df.shape

(457843, 23)

In [4]:
hcpcs_pay_99213_df.columns

Index(['National Provider Identifier',
       'Last Name/Organization Name of the Provider',
       'First Name of the Provider', 'Credentials of the Provider',
       'Entity Type of the Provider', 'Street Address 1 of the Provider',
       'City of the Provider', 'Zip Code of the Provider',
       'State Code of the Provider', 'Country Code of the Provider',
       'Provider Type', 'Medicare Participation Indicator', 'Place of Service',
       'HCPCS Code', 'HCPCS Description', 'HCPCS Drug Indicator',
       'Number of Services', 'Number of Medicare Beneficiaries',
       'Number of Distinct Medicare Beneficiary/Per Day Services',
       'Average Medicare Allowed Amount', 'Average Submitted Charge Amount',
       'Average Medicare Payment Amount',
       'Average Medicare Standardized Amount'],
      dtype='object')

In [4]:
hcpcs_pay_99213_df.head(2)

# National Provider Identifier (NPI): Nationally issued. One per person. Possible to have more than one for org.
# HCBB Slides page 11

,National Provider Identifier,Last Name/Organization Name of the Provider,First Name of the Provider,Credentials of the Provider,Entity Type of the Provider,Street Address 1 of the Provider,City of the Provider,Zip Code of the Provider,State Code of the Provider,Country Code of the Provider,...,HCPCS Code,HCPCS Description,HCPCS Drug Indicator,Number of Services,Number of Medicare Beneficiaries,Number of Distinct Medicare Beneficiary/Per Day Services,Average Medicare Allowed Amount,Average Submitted Charge Amount,Average Medicare Payment Amount,Average Medicare Standardized Amount
0,1003000142,KHALIL,RASHID,M.D.,I,4126 N HOLLAND SYLVANIA RD,TOLEDO,436233536,OH,US,...,99213,Established patient office or other outpatient...,N,129.0,89,129,70.93,109.0,50.868062,53.268372
1,1003000423,VELOTTA,JENNIFER,M.D.,I,11100 EUCLID AVE,CLEVELAND,441061716,OH,US,...,99213,Established patient office or other outpatient...,N,21.0,16,21,70.93,90.0,49.309524,52.720000

In [5]:
hcpcs_pay_99213_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 457843 entries, 0 to 457842
Data columns (total 23 columns):
National Provider Identifier                                457843 non-null int64
Last Name/Organization Name of the Provider                 457833 non-null object
First Name of the Provider                                  457828 non-null object
Credentials of the Provider                                 442543 non-null object
Entity Type of the Provider                                 457843 non-null object
Street Address 1 of the Provider                            457842 non-null object
City of the Provider                                        457843 non-null object
Zip Code of the Provider                                    457843 non-null object
State Code of the Provider                                  457843 non-null object
Country Code of the Provider                                457843 non-null object
Provider Type                                               457843 non-null object
Medicare Participation Indicator                            457843 non-null object
Place of Service                                            457843 non-null object
HCPCS Code                                                  457843 non-null object
HCPCS Description                                           457843 non-null object
HCPCS Drug Indicator                                        457843 non-null object
Number of Services                                          457843 non-null float64
Number of Medicare Beneficiaries                            457843 non-null int64
Number of Distinct Medicare Beneficiary/Per Day Services    457843 non-null int64
Average Medicare Allowed Amount                             457843 non-null float64
Average Submitted Charge Amount                             457843 non-null float64
Average Medicare Payment Amount                             457843 non-null float64
Average Medicare Standardized Amount                        457843 non-null float64
dtypes: float64(5), int64(3), object(15)
memory usage: 80.3+ MB

In [6]:
hcpcs_pay_99213_df.describe()

,National Provider Identifier,Number of Services,Number of Medicare Beneficiaries,Number of Distinct Medicare Beneficiary/Per Day Services,Average Medicare Allowed Amount,Average Submitted Charge Amount,Average Medicare Payment Amount,Average Medicare Standardized Amount
count,4.578430e+05,457843.000000,457843.000000,457843.000000,457843.000000,457843.000000,457843.000000,457843.000000
mean,1.499744e+09,210.731550,121.073357,210.719183,67.179705,139.390843,45.374780,46.586703
std,2.878311e+08,315.030219,148.529464,315.017406,10.484875,62.608126,8.768061,7.760109
min,1.003000e+09,11.000000,11.000000,11.000000,10.963636,10.963636,0.000000,0.000000
25%,1.245654e+09,39.000000,30.000000,39.000000,60.220000,100.000000,39.332513,40.791614
50%,1.497956e+09,101.000000,70.000000,101.000000,69.740000,130.000000,45.968125,48.454108
75%,1.750308e+09,253.000000,155.000000,253.000000,74.005650,164.300000,51.401311,52.564855
max,1.993000e+09,16181.000000,5399.000000,16181.000000,94.710000,3491.827586,94.999412,70.220769

### 2. Detailed Data Hospital Outpatient    

Page 22 of HCBB slides
- Fees paid to Hospitals for a selected subset of services
    - NOT ALL Procedures are in this table
    - Unlike Physician/Other Supplier
- Released annually (covers 2011-2017)
    - 2018 should be released in August
- Searchable by Provider, Procedure
- Tells you the following:
    - What did this Provider do?
    - How often did they do it?
    - How much were they paid?
    
Provider ID **(NOT an NPI)**   
- Provider Name  
    - Provider Street Address/City/State/Zip  
    - Provider HRR (Hospital Referral Region)  
- APC (Procedure Group)  
    - APC Desc
    
- Counts
    - CAPC Services
        - How many times did they bill this code
    - Beneficiaries
        - How many different patients was this code billed for
- Payments
    - Average Total Submitted Charges
        - What number did the Hospital make up to put on the bill
    - **Average Medicare Allowed Amount**  **Lok at this field**
        - How much did the Provider receive (from Medicare + any patient responsibility)
    - Average Medicare Payment Amount
        - How much did the Provider receive (only from Medicare, ignoring anything from patient)
    - Outliers
        - Can ignore

In [7]:
hosp_outpatient_df.shape

(1000, 16)

In [8]:
hosp_outpatient_df.head(2)

,Provider_ID,Provider_Name,Provider_Street_Address,Provider_City,Provider_State,Provider_Zip_Code,Provider_HRR,APC,APC_Desc,Beneficiaries,CAPC_Services,Average_Total_Submitted_Charges,Average_Medicare_Allowed_Amount,Average_Medicare_Payment_Amount,Outlier_Services,Average_Medicare_Outlier_Amount
0,10001,Southeast Alabama Medical Center,1108 Ross Clark Circle,Dothan,AL,36301,AL - Dothan,5072,Level 2 Excision/ Biopsy/ Incision and Drainage,249.0,259,9575.01,1038.45,826.28,NaN,NaN
1,10001,Southeast Alabama Medical Center,1108 Ross Clark Circle,Dothan,AL,36301,AL - Dothan,5073,Level 3 Excision/ Biopsy/ Incision and Drainage,52.0,53,12578.28,1792.60,1423.25,NaN,NaN

In [9]:
hosp_outpatient_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 16 columns):
Provider_ID                        1000 non-null int64
Provider_Name                      1000 non-null object
Provider_Street_Address            1000 non-null object
Provider_City                      1000 non-null object
Provider_State                     1000 non-null object
Provider_Zip_Code                  1000 non-null object
Provider_HRR                       1000 non-null object
APC                                1000 non-null int64
APC_Desc                           1000 non-null object
Beneficiaries                      989 non-null float64
CAPC_Services                      1000 non-null int64
Average_Total_Submitted_Charges    1000 non-null float64
Average_Medicare_Allowed_Amount    1000 non-null float64
Average_Medicare_Payment_Amount    1000 non-null float64
Outlier_Services                   788 non-null float64
Average_Medicare_Outlier_Amount    788 non-null float64
dtypes: float64(6), int64(3), object(7)
memory usage: 125.1+ KB

In [10]:
hosp_outpatient_df.describe()

,Provider_ID,APC,Beneficiaries,CAPC_Services,Average_Total_Submitted_Charges,Average_Medicare_Allowed_Amount,Average_Medicare_Payment_Amount,Outlier_Services,Average_Medicare_Outlier_Amount
count,1000.000000,1000.000000,989.000000,1000.000000,1000.000000,1000.000000,1000.000000,788.000000,788.000000
mean,10054.355000,5413.286000,85.984833,104.228000,30629.383510,4240.771560,3583.724140,0.724619,65.541688
std,34.342953,662.835095,144.069915,398.924277,42650.458736,4841.513288,4545.976045,4.954333,391.677309
min,10001.000000,5072.000000,11.000000,11.000000,1368.070000,267.110000,211.510000,0.000000,0.000000
25%,10024.000000,5115.750000,19.000000,20.000000,9134.330000,1718.160000,1347.727500,0.000000,0.000000
50%,10049.000000,5231.000000,38.000000,40.000000,16648.665000,2284.370000,1734.325000,0.000000,0.000000
75%,10087.500000,5374.000000,96.000000,104.000000,34324.565000,4296.377500,3394.275000,0.000000,0.000000
max,10113.000000,8011.000000,1962.000000,11690.000000,553162.040000,27943.060000,26627.060000,95.000000,4430.600000

### 3. Detailed Data APC to CPT/HCPCS crosswalk, Addendum B – January 2020

APC Ambulatory Payment Classifications

In [11]:
apc_to_cpt_crosswalk_df.shape

(16630, 10)

In [12]:
apc_to_cpt_crosswalk_df.head(2)

,Unnamed: 0,Addendum B.-Final OPPS Payment by HCPCS Code for CY 2020,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,NaN,CPT codes and descriptions only are copyright ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,HCPCS Code,Short Descriptor,SI,APC,Relative Weight,Payment Rate,National Unadjusted Copayment,Minimum Unadjusted Copayment,Note: Actual copayments would be lower due to ...,* Indicates a Change

In [13]:
apc_to_cpt_crosswalk_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16630 entries, 0 to 16629
Data columns (total 10 columns):
Unnamed: 0                                                  16629 non-null object
Addendum B.-Final OPPS Payment by HCPCS Code for CY 2020    16630 non-null object
Unnamed: 2                                                  16629 non-null object
Unnamed: 3                                                  5943 non-null object
Unnamed: 4                                                  5517 non-null object
Unnamed: 5                                                  5937 non-null object
Unnamed: 6                                                  5935 non-null object
Unnamed: 7                                                  5937 non-null object
Unnamed: 8                                                  280 non-null object
Unnamed: 9                                                  409 non-null object
dtypes: object(10)
memory usage: 1.3+ MB

In [14]:
# Lots of null values. The only column without nulls is Addendum B...

apc_to_cpt_crosswalk_df.isnull().sum()

Unnamed: 0                                                      1
Addendum B.-Final OPPS Payment by HCPCS Code for CY 2020        0
Unnamed: 2                                                      1
Unnamed: 3                                                  10687
Unnamed: 4                                                  11113
Unnamed: 5                                                  10693
Unnamed: 6                                                  10695
Unnamed: 7                                                  10693
Unnamed: 8                                                  16350
Unnamed: 9                                                  16221
dtype: int64

In [15]:
# All values in the Addendum B... column
pprint.pprint(apc_to_cpt_crosswalk_df['Addendum B.-Final OPPS Payment by HCPCS Code for CY 2020'].unique())

array(['CPT codes and descriptions only are copyright 2019 American Medical Association.\xa0 All Rights Reserved.\xa0 Applicable FARS/DFARS Apply. Dental codes (D codes) are copyright 2018 American Dental Association.\xa0 All Rights Reserved.',
       'Short Descriptor', 'Anesth salivary gland', ...,
       'Speech screening', 'Language screening', 'Dysphagia screening'],
      dtype=object)

In [16]:
apc_to_cpt_crosswalk_df.describe()

,Unnamed: 0,Addendum B.-Final OPPS Payment by HCPCS Code for CY 2020,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
count,16629,16630,16629,5943,5517.0000,5937.00,5935,5937.00,280,409
unique,16629,14482,32,640,214.0000,624.00,9,619.00,2,2
top,J7306,Repair blood vessel lesion,J1,5113,33.8823,2737.45,.,547.49,*,*
freq,1,25,2964,401,401.0000,401.00,5810,401.00,279,408

### 4. Zip Code to CBSA    

Use this to figure out what regions facilities are in.

In [17]:
zip_to_cbsa_032020_df.shape

(47415, 6)

In [18]:
zip_to_cbsa_032020_df.head(2)

   ZIP   CBSA  RES_RATIO  BUS_RATIO  OTH_RATIO  TOT_RATIO
0  501  35620        0.0        1.0        0.0        1.0
1  601  38660        1.0        1.0        1.0        1.0

In [19]:
zip_to_cbsa_032020_df.RES_RATIO.unique()

array([0.00000000e+00, 1.00000000e+00, 3.58546805e-03, ...,
       1.01584722e-04, 9.98273060e-01, 1.62535555e-03])

In [20]:
zip_to_cbsa_032020_df.describe()

,ZIP,CBSA,RES_RATIO,BUS_RATIO,OTH_RATIO,TOT_RATIO
count,47415.000000,47415.000000,47415.000000,47415.000000,47415.000000,47415.000000
mean,49529.271707,46800.256712,0.739344,0.754529,0.752188,0.832163
std,26966.653722,31193.350876,0.411062,0.411762,0.422714,0.340900
min,501.000000,10100.000000,0.000000,0.000000,0.000000,0.000028
25%,27883.500000,24060.000000,0.351852,0.570197,0.547727,0.965057
50%,48880.000000,36740.000000,1.000000,1.000000,1.000000,1.000000
75%,71639.000000,48900.000000,1.000000,1.000000,1.000000,1.000000
max,99929.000000,99999.000000,1.000000,1.000000,1.000000,1.000000

## TEAM PHOENIX
Goal #2 - Slides pages 32-33

**OPTION 2 GOAL**
- Measure how payments and counts change over time   
- Download 2015-2017 data (or earlier)   
- Join columns for Physician/Other Supplier   
    - NPI / HCPCS / Place of Service   
- Which procedures had the largest change in Average payment?   
    - Utilization?   

**OPTION 2 STRETCH GOALS**   
- Include hospitals in analysis   
- Join columns for Hospital   
    - Provider ID / APC   
    - Remember APCs changed in 2016, so you'll need to convert old APCs from 2016 an dbefore to the new AP